div
  div(style="float: right; text-align: left; padding: 10px 100px 0 0; font: 24px; aldrich;")
    div(class="aldrich pad_color", style="font-size: 20px;") Go to URL(with phone):
    div(class="secret") http://is.gd/ZBucXp
    div(class="center")
      img(src="/images/chart.png")

    p &nbsp;
    div(class="aldrich pad_color", style="font-size: 20px;") Enter code:
    div(class="secret") #{phone_secret}
  div(class="aldrich", style="width: 390px;")
    p(class="printable") Here is the cool part!^Take out your SMARTPHONE~(iphone or android works best)^Go to the url to the right and enter the code.

