div(class="center")
  div Welcome #{user_name}
  div(style="padding:15px 0 15px 0") Take out your phone, navigate to
  div(class="secret") http://localhost:3000/phone
  div(style="padding:15px 0 15px 0") Enter the following code:
  div
    span(class="secret") #{phone_secret}