div
  div(class="aldrich", style="width: 390px; float: right")
    p PadPaddle is a multiplayer game that plays like a cross between volleyball and Pong.
    p Players control their paddle using their touch phone, while the game action takes place on a desktop.
    p And... no worries: PadPaddle is all browser based; no installation required!
  p(style="margin: 100px 0px 0px 100px;")
    label Enter a name to be known as:
    form(action="/register", method="post", onsubmit="return $('#user_name').val().length > 0")
      input(type="text", name="user_name", id="user_name")
      input(type="submit", value="Go!", class="submit_button")

