!!! 5
html(lang="en")
  head
      title PadPaddle
      link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
      link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
      script(src='http://code.jquery.com/jquery-1.6.1.min.js')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(href='http://fonts.googleapis.com/css?family=Monoton', rel='stylesheet',type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Aldrich', rel='stylesheet', type='text/css')
      - var js = (typeof javascripts === 'undefined') ? [] : javascripts;
      - if (js) {
        - js.forEach(function(jsFile) {
            script(src="#{jsFile}");
        - });
      - }
  body
    div(style="position: absolute; right: 0px; top: 25px;")
        iframe(src="http://nodeknockout.com/iframe/fat-guys-with-guns", frameborder=0, scrolling='no',allowtransparency='true', width=115, height=25)
    div(class="index_header", style="border-bottom: 1px solid #000; margin-bottom: 10px;")
      div(class="monoton_title")
        span(class="pad_color") PAD
        span(class="paddle_color") PADDLE
        div(style="position: absolute; top: 52px; left: 417px; color: red; font: 14px aldrich") (Hosted in London)

    body!= body