!!! 5
html(lang="en")
  head
      title PadPaddle
      meta(name = "viewport", content = "width = device-width")
      link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
      link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
      script(src='http://code.jquery.com/jquery-1.6.1.min.js')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(href='http://fonts.googleapis.com/css?family=Monoton', rel='stylesheet',type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Aldrich', rel='stylesheet', type='text/css')
      - var js = (typeof javascripts === 'undefined') ? [] : javascripts;
      - if (js) {
        - js.forEach(function(jsFile) {
            script(src="#{jsFile}");
        - });
      - }
  body
    body!= body