div(class="screen_centered")
	div(class="monoton_title")
		span(class="pad_color") Pad
		span(class="paddle_color") Paddle
	div(class="center")
		div(style="margin-bottom: 5px;")
			label Enter the code you see on your computer
		form(target="phone_connect")
				input(type="text", name="code")
