div
    p Welcome: #{user_name}
    div(style="margin-bottom: 5px;") Pick a room to spectate or view:
    - room_list.forEach(function(room) {
      div
        a(href="/room/#{room}") Room #{room}
    - });
div
