div
  div(style="float: right; text-align: left; padding: 0px 100px 0 0; width: 300px; font: 24px; aldrich;")
      div(class="aldrich pad_color", style="font-size: 40px;") Rooms:
      div(id="room_list", style="font: 24px aldrich;")
      div(class="aldrich pad_color", style="font-size: 40px; margin-top: 10px;") Or...
      div(style="font: 24px aldrich;")
        a(href="/practice") Practice Mode

  div(class="aldrich", style="width: 390px;")
    p(class="printable") Awesome #{user_name}!^First, you should try practicing! Then you can wait in a room for someone to play against you.^You are going to use your SMARTPHONE to control your paddle, so get your thumbs ready!.
