div
    p Welcome: #{user_name}
    div(style="margin-bottom: 5px;") Rooms:
    - for(room in room_list) {
      div
        span #{room_list[room].name}&nbsp;
        span Players : #{room_list[room].players.length}&nbsp;
        span Spectators : #{room_list[room].spectators.length}
    - };
div
