div(class="index_header", style="border-bottom: 1px solid #000; margin-bottom: 10px;")
  div(class="monoton_title float_right")
    span(class="pad_color") PAD
    span(class="paddle_color") PADDLE
div
    div(style="margin-bottom: 5px;") Rooms:
    div ROOM #1 (Full)
    div ROOM #2 (Full)
    div ROOM #3 (Full)
    div ROOM #4
