body {
  padding: 0 10px 0 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.monoton_title { font: 52px "monoton"; }
.float_right { float: right; }
.pad_color { color: #de5e00; }
.paddle_color { color: #4f6911; }
.screen_centered {
  margin: auto;
  position: relative;
  width: 400px;
}
.center {
  text-align: center;
}

input {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline : 0;
    width: 200px;
    background : #FFF;
}

.index_header { height: 70px;}
.secret { font-size: 36px; background: #ddd; border: 1px solid #222; padding: 5px;}
